<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Product</title>
</head>


<body class="bg-body-tertiary">
<nav th:replace="/layout :: menu "></nav>


<div class="container">
    <div class="my-3 shadow-sm bg-white p-3 d-flex align-items-center justify-content-between">
        <h3 class="mb-0">Chỉnh sửa blog <span th:text="blog.title"></span></h3>
    </div>
    <div class="p-3 shadow-sm bg-white mt-3">

    </div>


</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>