<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Product</title>
</head>



<body class="bg-body-tertiary">
    <nav th:replace="/layout :: menu "></nav>
    <nav th:replace="/layout :: notify "></nav>



    <div class="container">
        <div class="my-3 shadow-sm bg-white p-3 d-flex align-items-center justify-content-between">
            <h3 class="mb-0">Danh sách blog</h3>
            <a th:href="@{/blogs/create}" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="p-3 shadow-sm bg-white mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Hình ảnh</th>
                    <th>Tóm tắt</th>
                    <th>Tác giả</th>
                    <th>Ngày Tạo</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                    <th>Xem</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${blogs}">
                    <td th:text="${row.getTitle()}"></td>
                    <td>
                        <img th:src="@{'/image/' + ${row.getAvatar()}}">
                    </td>
                    <td th:text="${row.getSummary()}"></td>
                    <td th:text="${row.getAuthor()}"></td>
                    <td th:text="${row.getCreatedAt()}"></td>
                    <td><a th:href="@{/blogs/{id}/edit(id=${row.getId()})}" class="btn btn-info">Sửa</a></td>
                    <td><a th:href="@{/blogs/{id}/delete(id=${row.getId()})}" class="btn btn-danger btn-destroy">Xóa</a></td>
                    <td><a th:href="@{/blogs/{id}/view(id=${row.getId()})}" class="btn btn-success">Xem</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center mt-3">
            <a class="btn btn-primary" th:if="${blogs.hasPrevious()}"
               th:href="@{/blogs/list(pageNo=${blogs.number - 1}, pageSize=${blogs.size})}">Previous</a>
            <span th:text="${blogs.number + 1}"></span> / <span th:text="${blogs.totalPages}"></span>
            <a class="btn btn-primary" th:if="${blogs.hasNext()}"
               th:href="@{/blogs/list(pageNo=${blogs.number + 1}, pageSize=${blogs.size})}">Next</a>
        </div>

    </div>
    <footer th:replace="/layout :: footer"></footer>
</body>
</html>